*{
    margin: 0;
    box-sizing: border-box;
}

.limited {
    max-width: 1140px;
    margin: 0 auto;
}

/*****FOR MOBILE DEVICE****/
/* THE HEADER CSS SELECTORS AND THE STYLE RULES. */
#header {
    background-color: black;
    width: 100%;
}

#header-main-div01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand-logo {
    width: 20%;
}

.dark {
    background-color: black !important;
}

.navbar-toggler {
    background-color: white;
    color: #fff;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item .nav-link {
    color: white;
}

#navbarDropdown {
    color: white;
}

li.nav-item:nth-of-type(3) > .dropdown-menu {
    background-color: black;
}

.dropdown-menu  a.dropdown-item {
    color: white;
}

.dropdown-divider {
    border-top: 1px solid white !important;
}

ul > input[type="email"] {
    margin-left: 0;
}

/* THE MAIN SECTION */

#section1 {
    width: 100%;
    background-image: url(https://www.scdn.co/i/generic/hero-sm.jpg);
    background-position: center center;
    margin: 0;
    padding: 40px 0;
}

.wrapper {
  width: 90%;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper:first-of-type {
    padding: 30px;
}

#title {
    color: white;
    font-size: 2.58rem;
    text-align: center;
    margin: 5px 0;
    font-family: Georgia, 'Times New Roman', serif;
}

#description {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 1.5rem;
    padding-bottom: 5px;
}

#submit {
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    width: 100px;
    outline: none;
}

#submit a {
    text-decoration: none;
    color: black;
}

#h02 {
    font-size: 2.5rem;
    text-align: center;
    margin: 5px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.img-box {
    margin: 0 auto;
    max-width: 100%;
    height: 200px;
}

.main-img {
    width: 100%;
    height: 200px;
}

.h03 {
    text-align: center;
    padding: 0 15px;
    margin-top: 5px;
    
}


.article-paragraph {    
    text-align: center;
    padding: 0 15px 15px 15px;
}

/* FOOTER SECTION CSS SELECTORS AND THEIR STYLE RULES */

#footer {
    background-color: black;
    columns: lightgray;
}

.foot-sect {
    margin-top: 0;
}

#footer-img {
    display: none;
}


.d05 {
    color: gray;
    font-size: 12px;
    letter-spacing: .08em;
    font-weight: 900;
    text-transform: uppercase;
    margin: 50px 0 22px;
    
}

.footer-list {
    list-style-type: none;
    padding-left: 0;
}

.footer-list-item {
    padding: 10px 10px 10px 0;
    margin: 5px 5px 5px 0;
}

.footer-link {
    display: inline-block;
    text-decoration: none;
    color: white;
}

#footer-social-icons {
    text-align: center;
    margin-top: 120px;
}

.footer-socialicons {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 20px 0 0;
}

.ftsoi-link {
    border: 1px solid #333;
    background-color: #333;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

#int01 {
    float: right;
}

#int01 a {
    display: inline-block;
    color: #999;
    text-decoration: none;
    padding: 5px;
    font-size: 0.78rem;
    
}

#ftulsp {
    clear: right;
    display: flex;
    font-size: 0.78rem;
    
}

#bottom-list {
    list-style-type: none;
    margin: 0 45px 20px 0;    
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 50%;

}

.bottom-links {
    color: #999;
    text-decoration: none;
    display: inline-block;
    margin-right: 7px;    
    padding: 5px;

}

.bottom-links:hover {
    color: lime;
}


.copy2021 {
    color: #999;
    width: 40%;
    text-align: right;
}

/**MIN-WIDTH : 600px**/
@media only screen and (min-width: 600px) {
    /* Main Section Styles */
    .img-box {
        max-width: 70%;
    }


    /* Footer Section Styles */
    #bottom-list {        
        width: 70%;    
    }
    
    .copy2021 {
        width: 20%;
    }
}

/**MIN-WIDTH : 768px**/
@media only screen and (min-width: 768px) { 
    input[type="email"] {
        width: 50%;
    } 
    
    /* Main Section Styles */
    .wrapper {
        width: 95%;
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .main-section-div {
     display: flex;  
     justify-content: space-between; 
     width: 100%;
     flex-wrap: wrap;
     margin-top: 50px;
    }

    .article-box {
        width: 45%;
    }

    .img-box {
        max-width: 100%;
        margin: 0;
    }  


    /* Footer Section Styles */
    #footer-section01 {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        padding-top: 50px;
    }

    .ftlinflx {
        width: 25%;
    }
    .d05 {
        margin-top: 0;
    }

    #footer-social-icons {
        display: block;
    }

    #bottom-list {        
        width: 70%;    
    }
    
    .copy2021 {
        width: 30%;
        text-align: right;
    }
    
}

/*FOR LARGE SCREEN**/
@media only screen and (min-width: 1024px) {   
    
    /*The HEADER**/
    input[type="email"] {
        width: 70%;
    } 

    .wrapper {
        width: 80%;
        
    }
    
    /****MAIN SECTION***/
    #section1 {
        background-repeat: no-repeat;
        background-position: initial;
        background-size: 100% 100%;
    }

    .main-section-div {
        flex-wrap: nowrap;
    }
   
    .article-box {
        width: 20%;
    }

    .img-box {
        max-width: 100%;
        margin: 0;
        
    } 
    #footer-section01 {        
        flex-wrap: nowrap;
        
    }

    #footer-img {
        display: block;
        max-width: 100%;
        width: 70px;
    }

    .ftlinflx {
        width: 20%;
    }

    #footer-social-icons {
        display: block;
        margin-top: 0;
        
    }

    .footer-socialicons {
        margin-top: 16px;
    }

    .footer-list-item {
        margin-top: 0;
        padding-top: 0;
    }

    .ftsoi-link {
        margin-top: 0;
    }


}